# Virtual environments
venv/
.venv/

# Python
__pycache__/
*.pyc

# Environment variables
.env

# IDE
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

Context_Bin/
*.aux
*.log
*.out
*.synctex.gz